.card-container {
  width: calc(80vw);
  margin: 32px auto;
}

.mdc-list-item {
  position: relative;
  border-bottom: 1px dotted #ccc;

  p {
    margin: 0
  }

  .mat-mdc-list-item-unscoped-content {
    display: none !important;
  }

  .collection-actions {
    position: absolute;
    top: 8px;
    right: 8px;

    a {
      cursor: pointer;
      margin-left: 8px;

      &:hover {
        color: palevioletred;
      }
    }
  }
}

button {
  margin-left: 8px !important;
}
