@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

.in-progress {
  --angle: 0deg;
  border: 3px solid;
  width: calc(100% - 8px);
  pointer-events: none;
  border-image: conic-gradient(from var(--angle), rgb(48, 17, 17), red, rgb(140, 14, 14), rgb(27, 27, 27), rgb(255, 85, 0), rgb(208, 27, 27), rgb(63, 63, 63), red) 1;
  animation: 5s rotate linear infinite;
  @apply fixed z-10 top-0 left-2 h-full !rounded-xl;
}
