<section class="query-container">
  <mat-card appearance="outlined">
    <mat-card-content>
      <aside class="response-container">
        @for(response of responses; track response) {
          <p class="mat-body-1">
            <span class="timestamp-container" [attr.title]="response.duration">{{ response.timestamp | date: 'short' }}</span> {{ response.message }}
          </p>
        }
      </aside>
      <form [formGroup]="promptForm">
        <mat-form-field>
          <mat-label>Ask me something</mat-label>
          <textarea matInput formControlName="query"></textarea>
        </mat-form-field>
      </form>
      @if(isWaiting())
      { <mat-progress-bar mode="indeterminate"></mat-progress-bar> }
    </mat-card-content>
    <mat-card-actions align="end">
      <button (click)="query()" mat-flat-button color="warn" [disabled]="promptForm.invalid || isWaiting()">ASK</button>
    </mat-card-actions>
  </mat-card>
</section>

<router-outlet />
