@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  @apply select-none;
  height: 100%;
  min-height: 100%;
}

.primary-button {
  @apply rounded-md bg-teal-600 px-3 py-2 text-sm font-semibold text-white
         hover:bg-teal-500 focus-visible:outline focus-visible:outline-2
         disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed
         focus-visible:outline-offset-2 focus-visible:outline-teal-600;
}

.cancel-button {
  @apply text-sm/6 font-semibold text-gray-900;
}

*, *::before, *::after {
	box-sizing: border-box;
}

.input-override {
  @apply border !border-slate-400 rounded-lg my-2 !text-stone-900 text-xs/6;
}
